page-login {
  .mainLogo
  {
    margin-top: 30px;
  }

  .textWhite
  {
    border-radius:0px !important;
    padding: 12px;
    background-color: white !important;
  }

  .regButton
  {
    width: 80% !important;
    margin-top: 20px !important;
    margin: auto;
  }

}
