

<ion-content>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="info" align="center">
        <div class="title">התחבר למערכת</div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">

            <div class="form-group">
                <input type="email" class="form-control textWhite"  name="mail" ngModel required  placeholder="* הכנס אימייל"><br>
            </div>

            <div class="form-group">
                <input type="password" class="form-control textWhite"  name="password" ngModel required  placeholder="* הכנס סיסמה"><br>
            </div>

            <button ion-button class="regButton" color="secondary" [disabled]="!f.valid" type="submit"  class = "MT20 regButton">התחבר/י למערכת</button>

        </form>


        <div style="width:80%; margin: auto">
            <facebookconnect > </facebookconnect>
        </div>





    </div>

</ion-content>
