<ion-content>

    <div class="headerLeftIcon" (click)="userLogOut()">
        <ion-icon name="ios-log-out" style="margin-left: 6px;"></ion-icon>
        <div>התנתק</div>
    </div>

    <div class="headerRightIcon" (click)="ConfirmClassPage()" *ngIf="userType == 2">
        <ion-icon name="ios-grid-outline" style="margin-left: 6px;"></ion-icon>
        <div>אישור שיעור</div>
    </div>

    <!--<div class="headerRightIcon"  *ngIf="userType == 0">-->
        <!--<ion-badge id="notifications-badge2"  color="secondary"  ><span style="direction: rtl;">ניקובים בכרטיסיה: {{userCredits}}</span></ion-badge>-->
    <!--</div>-->

    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>

    <div class="greenLine"></div>

    <div class="registerBtn" (click)="signUpClass()">
        <img src="images/home/reg_btn.jpg" width="100%" />
    </div>

    <div align="center" *ngIf="userType == 0 && loading_finshed" style="margin-top:10px;">
        <ion-badge id="notifications-badge2"  [color]="creditColor"  >
            <div style="direction: ltr;">{{userCredits}}
                <div style="display:inline;">{{userCreditsText}}</div>
            </div>
        </ion-badge>
    </div>

    <div *ngIf="FutureLessonArray.length > 0">
        <p class="nextLesson"> השיעור הבא : {{nextlessonday}}  {{nextlessondate}} בשעה : {{nextlessonhour}}
        </p>
    </div>

    <div class="info" align="center">
        <div class="title"></div>


        <div class="mainButtons">
            <div class="mainButtonsRows">
                <div class="mainButtonsRowLeft" (click)="profileEditGo()">
                    <img src="images/home/b1.png" style="width: 100%">
                </div>
                <div class="mainButtonsRowRight" (click)="futureClassesPage()">
                    <img src="images/home/b2.png" style="width: 100%">
                </div>
            </div>
            <div class="mainButtonsRows">
                <div class="mainButtonsRowLeft" (click)="previousTicketsPage()">
                    <img src="images/home/b3.png" style="width: 100%">
                </div>
                <div class="mainButtonsRowRight" (click)="pastClassesPage()">
                    <img src="images/home/b4.png" style="width: 100%">
                </div>
            </div>
        </div>

    </div>

</ion-content>
<ion-footer>
    <footer [messagesCount]="countUnreadMessages"></footer>
</ion-footer>