page-classsignup {
  .selectInfo
  {
    width: 100%;
  }

  select
  {
    width: 100% !important;
    border-radius: 0px !important;
  }

  input
  {
    width: 100% !important;
    border-radius: 0px !important;
  }

  .mainTitle
  {
    width: 60%;
    margin: auto;
    margin-top: -10px;
  }

  .Lessons
  {
    overflow: hidden;
    width: 100%;
  }

  .Status
  {
    float: left;
    width: 25%;
  }

  .Time
  {
    float: left;
    width: 22%;
  }

  .Date
  {
    float: left;
    width: 20%;
  }

  .Title
  {
    float: right;
    width: 22%;
  }

  .regButton
  {
    width: 80% !important;
    margin-top: 20px !important;
    background-color:#ffd000;
    margin: auto;
  }

  .SignedBtn {
    background-color:#ccc;
  }

  .NotSignBtn {
    background-color:green;
  }

  .topRightCorner {
    line-height: 12px;
    width: 60px;
    font-size: 30px;
    margin-top: 7px;
    margin-right: 2px;
    position:absolute;
    top:5px;
    right:0;
  }

  .mainRow1
  {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
    background-color:  #1e97e1;
    color: white;
    direction: rtl;
  }

  .Title1
  {
    width: 65%;
    float: right;
    padding: 5px;
    text-align: right;
  }

  .Date1
  {
    float: left;
    margin-left: 1%;
    width: 30%;
    text-align: left;
    padding: 5px;
  }

  .rowDiv
  {
    overflow: hidden;
    width: 100%;
    direction: rtl;
    padding:0px 6px;
  }

  .Status1
  {
    float: right;
    margin-left: 1%;
    width: 45%;
    padding: 5px;
    text-align: right;
  }


  .signup_title {
    width:100%;
    padding:15px 15px 15px;
  }

}
