page-register-intro {
  .mainLogo
  {
    margin-top: 50px;
  }
  .info
  {
    width: 100%;
    margin-top: 40px;
  }

  .client
  {
    width: 90%;
    margin: auto;
  }

  .or
  {
    margin-top: 10px;
  }

  .exsist
  {
    margin-top: 30px;
    font-size: 15px;
  }

  .mainTitle
  {
    text-align: center;
    color: white;
    font-size: 18px;
  }
}
