
<ion-content padding>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>

    <div class="greenLine"></div>

    <div class="mainTitle" >
        <img src="images/confirm.png" width="100%"/>
    </div>

<div align="center" style="direction: rtl;">



  <ion-grid>

    <ion-row>
      <ion-col col-md-6>
        סניף:
      </ion-col>
      <ion-col col-md-6>
       {{data.Branch}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-6>
        תאריך:
      </ion-col>
      <ion-col col-md-6>
        {{data.class_date}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-6>
        מקצוע:
      </ion-col>
      <ion-col col-md-6>
        {{data.Profession}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-md-6>
        שעה:
      </ion-col>
      <ion-col col-md-6>
        {{data.class_hour}}
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-md-6>
       כמות שעות:
      </ion-col>
      <ion-col col-md-6>
        {{data.class_total_hours}}
      </ion-col>
    </ion-row>

  <ion-row>
    <ion-col col-md-12>
      <button ion-button full class="regButton" (click)="confirmSignup()">אישור</button>
      <button ion-button full class="cancelButton" (click)="closeModal()">ביטול</button>
    </ion-col>
  </ion-row>

  </ion-grid>


</div>
</ion-content>
