<!--
  Generated template for the FutureclassesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

<!--<ion-navbar>-->
<!--<ion-title>שיעורים עתידיים</ion-title>-->
<!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content padding>

  <back-button></back-button>
  <div class="mainLogo" align="center">
    <img src="images/logo.png" style="width:50%; margin: auto">
  </div>
  <div class="greenLine"></div>

  <div class="info" align="center" style="margin-top:15px;">

    <div class="MT20" *ngIf="PushNotifications.length == 0">
      לא נמצאו הודעות
    </div>

    <div class="mainRow1" *ngFor="let row of PushNotifications let i=index">
      <div class="rowDiv">
        <div class="Title1">{{row.title}}</div>
        <div class="Date1">{{row.date}}</div>
      </div>
      <div class="rowDiv">
        <div class="Hour1">{{row.time}} </div>
      </div>
    </div>



    <!--<ion-list>-->
      <!--<ion-item *ngFor="let row of PushNotifications let i=index">-->
        <!--<div style="text-align:right; direction:rtl;">-->
          <!--<h2>{{row.title}}</h2>-->
          <!--<p>{{row.date}}</p>-->
        <!--</div>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </div>



</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>


