page-contact-modal {
  .regButton
  {
    width: 80% !important;
    margin-top: 20px !important;
    background-color:#ffd000;
    margin: auto;
  }

  .cancelButton {
    width: 80% !important;
    margin-top: 20px !important;
    background-color:#ccc;
    margin: auto;
  }
}
