<!--
  Generated template for the FutureclassesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>שיעורים עתידיים</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content padding>

     <back-button></back-button>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="greenLine"></div>

    <div class="info" align="center">

    <div class="MT20" *ngIf="ClassesArray.length == 0">
        לא נמצאו שיעורים עתידיים
    </div>

        <div class="mainRow1" *ngFor="let row of ClassesArray let i=index">
            <div class="rowDiv">
                <div class="Title1">שם הקבוצה :  {{row.title}}</div>
                <div class="Date1">{{row.class_date}}</div>
            </div>
            <div class="rowDiv">
                <div class="Status1" *ngIf="row.approve_status != 2">סטטוס :  {{getClassStatus(row.approve_status)}}</div>
                <div class="Status1" *ngIf="row.approve_status == 2"> סטטוס: <span class="NotApproved">{{getClassStatus(row.approve_status)}}</span></div>                <div class="Hour1"> שעה :  {{row.class_hour}} </div>
                 <button ion-button [disabled]="!row.can_delete" color="secondary"  type="button"   class = "MT20 regButton" (click)="cancelClass(row,i)">מחק שיעור</button>
                <!--<div>{{row.can_delete}}</div>-->
                <!--<div>{{row.hours_passed}}</div>-->
            </div>
        </div>

  </div>



</ion-content>


<ion-footer>
  <footer></footer>
</ion-footer>